h1 { color: Blue; text-align: center; }
 img { 
     border-width:1px;
     border-style:soild 
     border-color:blue;
     width:355px;
     height:250px;
     
 
 
 }
 .purple{ color: purple; 

 }
 .background { 
     background-color:black;
 }
 
 .centerlion{ /*width:300px;*/ height:290px;width: 54% ;
  margin-left: auto ;
  margin-right: auto ;
  
 } 
 ul li {
  display:inline-block;
 }
 ul{background-color:blue;}
 .centerimg{
  width: 54% ;
  margin-left: auto ;
  margin-right: auto ;
}
.bigimg{
 width: 122% ;
  margin-left: auto ;
  margin-right: auto ;
}
 

